doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/index.css")
    body
        header.header_main 
            nav.header_nav
                ul.header_ul
                    li.header_li
                        a(href="/") HOME
                    li.header_li
                        a.active(href="/admin/add-product") ADD-PRODUCT
                    li.header_li
                        a(href="/products") PRODUCT
        div.main_div
            h1 This is Add Product page
            form.form(action="/admin/add-product" , method="POST") 
                label(for="product") Product 
                input(type="text", name="product" , placeholder="type here...", required)
                div.button-ctr
                    button(type="submit") Add 
                    button(type="reset") Reset
        footer.main_footer
            p &copy; 2023 Nilotpal &reg; MIT License
