doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/index.css")
    body
        header.header_main 
            nav.header_nav
                ul.header_ul
                    li.header_li
                        a(href="/") HOME
                    //- if(isAuth)
                    //-     li.header_li
                    //-         a.active(href="/admin/add-product") ADD-PRODUCT
                    //- li.header_li
                    //-     a(href="/products") PRODUCT
                    //- li.header_li
                    //-     a(href="/cart") CART
                    //- li.header_li
                    //-     a(href="/order") ORDER
        div.main_div
            h2.title Login Form
            form.form(action="/login" , method="POST") 
                label(for="email") Email
                input(type="email", name="email" , placeholder="email",value=`${formData && formData.email || ''}` required)
                label(for="password") Password
                input(type="password", name="password" , placeholder="password", required)
                input(type="hidden", name="_csrf" value=`${csrfToken}`)
                div.button-ctr
                    button(type="submit") Login 
                div
                    a.sign-link(href="/signup") New user? Sign up 
            if errorMessage 
                p.error #{errorMessage}
        footer.main_footer
            p &copy; 2023 Nilotpal &reg; MIT License
