doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/index.css")
    body
        header.header_main 
            nav.header_nav
                ul.header_ul
                    li.header_li
                        a(href="/") HOME
                    li.header_li
                        a(href="/admin/add-product") ADD-PRODUCT
                    li.header_li
                        a(href="/products") PRODUCT
                    li.header_li
                        a(href="/cart") CART
                    li.header_li
                        a(href="/order") ORDER
        div.main_div
            h2.title Login
            form.form(action="/login" , method="POST") 
                label(for="email") Email 
                input(type="email", name="email" , placeholder="email", required)
                label(for="password") Password
                input(type="password", name="password" , placeholder="password", required)
                div.button-ctr
                    button(type="submit") Login 
        footer.main_footer
            p &copy; 2023 Nilotpal &reg; MIT License
