<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Post</title>
    <link rel="stylesheet" href="/css/index.css"/>
  </head>
  <body>
    <header class="header_main">
      <nav class="header_nav">
        <ul class="header_ul">
          <li class="header_li"><a href="/">HOME</a></li>
          <li class="header_li">
            <a href="/admin/add-product">ADD-PRODUCT</a>
          </li>
          <li class="header_li"><a href="/products" class="active">PRODUCT</a></li>
        </ul>
      </nav>
    </header>
    <div class="main_div">
      <h1>This is Product Post page</h1>
    </div>
    <footer class="main_footer">
      <p>&copy; 2023 Nilotpal &reg; MIT License</p>
    </footer>
  </body>
</html>
